@charset "UTF-8";

body {
  color: white;
  background: url(airbus%20a350.jpg) no-repeat center center fixed;
  background-size: cover;
}

li:hover {
  background-color: grey;
}

li {
  text-align: center;

    list-style-type: none;

}

p {
  text-align: center;
  text-decoration: none;
}

span {
  text-align: center;
}

div {
  text-align: left;
  /*détail esthétique résolu sur la touche retour mais défaut avec ligne de code img src*/
  animation-name: tictacclock;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

a {
  color: black;
  text-decoration: none;
}

@keyframes tictacclock {
  0% {
    transform: rotate(-1deg);
    margin-right: 3px;
  }

  50% {
    transform: rotate(-0.5deg);
    margin-right: 2px;
  }

  100% {
    transform: rotate(-1deg);
    margin-right: 3px;
  }
}
